In [3]:
import pandas as pd

print(pd.__version__)

2.2.2

In [5]:
d = {'nama':['bejo', 'tejo', 'wati', 'tiwi', 'cecep'], 
     'ipk':[2, '3', 3, 2.75, '3.25']}
df = pd.DataFrame(d)
df

    nama   ipk
0   bejo     2
1   tejo     3
2   wati     3
3   tiwi  2.75
4  cecep  3.25

In [7]:
df.dtypes

nama    object
ipk     object
dtype: object

In [9]:
df['ipk'].apply(type)

0      <class 'int'>
1      <class 'str'>
2      <class 'int'>
3    <class 'float'>
4      <class 'str'>
Name: ipk, dtype: object

In [11]:
df['ipk'].apply(type).value_counts()

ipk
<class 'int'>      2
<class 'str'>      2
<class 'float'>    1
Name: count, dtype: int64

In [17]:
df['ipk'] = df['ipk'].astype(float)

In [19]:
df['ipk'].apply(type).value_counts()

ipk
<class 'float'>    5
Name: count, dtype: int64